<h1>Human Resouces</h1>
<h2>List:</h2>
<div>
  <ul>
    <li>
      <%= link_to "Add departments", new_department_path%>
    </li>
    <li>
      <%= link_to "Show departments", departments_path %>
    </li>
    <li>
      <%= link_to "Add positions", new_position_path %>
    </li>
    <li>
      <%= link_to "Show positions", positions_path %>
    </li>
  </ul>
</div>
